/ {
	fstab {
		compatible = "zephyr,fstab";
	};
};

&flash0 {
	/* STM32U5 geometry: 8 KB erase pages, 16-byte write alignment.
	 * 16 PEBs × 8 KB = 128 KB partition (14 data + 2 reserved).
	 */
	erase-block-size = <8192>;
	write-block-size = <16>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		ubi_partition: partition@0 {
			label = "ubi_partition";
			reg = <0x00000000 DT_SIZE_K(128)>;
		};
	};
};
